.drop-zone {
    border: dotted 3px lightgray;
    height: 100%;
}

.nv-file-over {
    border: 3px dotted #ec008c;
} /* Default class applied to drop zones on over */
input[type=file] {
    bottom: 0px;
    color: transparent;
}

.select-file-area .select-file-area-component {
    height: 100px;
    vertical-align: middle;
}

.select-file-area-content {
	margin-top: 10px;
}

canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    height: 100px;
}

html,body {
    height: 100%;
}

#button-section {
    margin-bottom: 20px;
    margin-top: 20px;
}

.table-header, .table-row {
    padding-bottom: 5px;
    padding-top: 15px;
    border-bottom: 1px solid #c3c3c3;
}

#uploaderQueueContainer {
    margin-top: 40px;
    margin-bottom: 40px
}

.highlight {
	color: #ec008c;
}

.page-header, .page-header h2, #uploaderQueueContainer .h2 {
	font-family: 'Lobster';
}

.page-header {
	background: url("http://www.wowcher.co.uk/images/dod/new/wowcher-logo-v3-small.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	background-position: right;
	height: 95px;
	border: none;
}

.page-header h2, .h2 {
	padding-top: 29px;
}

.progress-bar.success {
	background-color: #ec008c;
}

.glyphicon-ok.success {
	color: #ec008c;
}